@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "amazon_emberbold";
	src: url("fonts/amazonember-webfont.eot");
	src: url("fonts/amazonember-webfont.eot?#iefix") format("embedded-opentype"),
		url("fonts/amazonember-webfont.woff2") format("woff2"),
		url("fonts/amazonember-webfont.woff") format("woff"),
		url("fonts/amazonember-webfont.ttf") format("truetype"),
		url("fonts/amazonember-webfont.svg#amazon_emberbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "amazon_emberheavy";
	src: url("fonts/amazonember_he-webfont.eot");
	src: url("fonts/amazonember_he-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("fonts/amazonember_he-webfont.woff2") format("woff2"),
		url("fonts/amazonember_he-webfont.woff") format("woff"),
		url("fonts/amazonember_he-webfont.ttf") format("truetype"),
		url("fonts/amazonember_he-webfont.svg#amazon_emberheavy") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "amazon_emberlight";
	src: url("fonts/amazonember_lt-webfont.eot");
	src: url("fonts/amazonember_lt-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("fonts/amazonember_lt-webfont.woff2") format("woff2"),
		url("fonts/amazonember_lt-webfont.woff") format("woff"),
		url("fonts/amazonember_lt-webfont.ttf") format("truetype"),
		url("fonts/amazonember_lt-webfont.svg#amazon_emberlight") format("svg");
	font-weight: normal;
	font-style: normal;
}

.speaker-img img {
	border: 1px solid #ccc;
}

.lg-title {
	font-size: 26px;
	line-height: normal;
}

.banner-main h3 {
	color: #fbaa19;
	font-weight: 600;
}

.banner-main img {
	padding-top: 80px;
	margin: 0 auto;
}

.banner-main h3 span {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
}

#details {
	background-color: #ffa400;
}

.venue p {
	color: #232f3b;
	font-size: 20px;
	line-height: normal;
	padding: 20px 0px;
	margin: 0px;
	text-align: center;
	font-family: "amazon_emberbold";
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background: none !important;
	color: #fff !important;
}

.navbar {
	border-bottom: none !important;
}

.about-intro p {
	margin: 0px 0px 0px;
	color: #333;
	text-align: center;
	font-family: "amazon_emberlight";
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 600;
}

.about-intro-1 p {
	margin: 0px 0px 15px;
	color: #000;
	text-align: left;
	font-family: "amazon_emberlight";
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.about-intro-1 ul {
	list-style-type: disc;
	margin-left: 30px;
}

.about-intro-1 ul li {
	list-style-type: disc;
	padding-bottom: 5px;
	color: #000;
	font-weight: normal;
	font-size: 15px;
	font-family: "amazon_emberlight";
}

.about-intro ul {
	list-style-type: disc;
	margin-left: 30px;
	margin-top: 25px;
}

.about-intro ul li {
	list-style-type: disc;
	padding-bottom: 10px;
	color: #000;
	font-weight: normal;
}

p {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #000;
}

.feature-content:hover,
.feature-content.active {
	background: #fbaa19;
	color: #fff;
}

.feature-content:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 3px;
	background: #fbaa19;
	right: 0px;
	bottom: -2px;
}

.nav-tabs > li.active > a h3,
.nav-tabs > li.active {
	color: #e47911 !important;
	text-transform: capitalize;
	font-weight: 700;
}

h4 {
	font-size: 15px;
	line-height: 24px;
}

.banner-main h4 {
	color: #fff;
	font-weight: bold;
	margin: 25px auto 20px;
	line-height: normal;
	font-size: 20px;
	padding-left: 20px;
	font-family: "amazon_emberlight";
}

.input_fiel_margin20 {
	margin-bottom: 20px;
}

.form-group {
	height: auto;
	display: block !important;
}

.control-label {
	font-size: 16px !important;
	font-weight: normal !important;
	line-height: 36px;
}

.form-control {
	color: #000 !important;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	/* border-top: 1px solid #bbb; */
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
		0 1px 0 rgba(0, 0, 0, 0.07) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
		0 1px 0 rgba(0, 0, 0, 0.07) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
		0 1px 0 rgba(0, 0, 0, 0.07) inset;
	outline: 0;
	outline-width: 0;
}

.control-label {
	font-size: 16px !important;
	font-weight: normal !important;
	line-height: 36px;
}

.nomi ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nomi ul li {
	float: left;
	padding-right: 10px;
}

.margin_bottom25 {
	margin-bottom: 25px;
}

.submit_btn {
	border-color: #be952c #a68226 #9b7924;
	background: #eeba37;
	color: #333 !important;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
	background-size: 100%;
	background-image: -webkit-gradient(
		linear,
		50% 0%,
		50% 100%,
		color-stop(0%, #fee6b0),
		color-stop(100%, #eeba37)
	);
	background-image: -moz-linear-gradient(#fee6b0 0%, #eeba37 100%);
	background-image: -webkit-linear-gradient(#fee6b0 0%, #eeba37 100%);
	background-image: linear-gradient(#fee6b0 0%, #eeba37 100%);
}

.button.btn-gold,
a.button.btn-gold {
	border-color: #be952c #a68226 #9b7924;
	background: #eeba37;
	color: #333 !important;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
	background-size: 100%;
	background-image: -webkit-gradient(
		linear,
		50% 0%,
		50% 100%,
		color-stop(0%, #fee6b0),
		color-stop(100%, #eeba37)
	);
	background-image: -moz-linear-gradient(#fee6b0 0%, #eeba37 100%);
	background-image: -webkit-linear-gradient(#fee6b0 0%, #eeba37 100%);
	background-image: linear-gradient(#fee6b0 0%, #eeba37 100%);
}

.timetitle {
	color: #fbaa19;
	margin-bottom: 10px;
	font-size: 28px;
}
.desc-inner h3 {
	color: #444;
	margin-top: 10px;
	font-size: 20px;
}
.feature-heading-top {
	background: #888888;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0px 120px;
	position: relative;
	z-index: 1;
}

#section-agenda {
	background: #ffffff;
	border-bottom: 1px solid#eee;
}

.text_color_white {
	color: #fff;
}
.footer_link {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.footer_link i {
	color: #fff;
	font-size: 2em;
}
.footer_link li {
	display: inline;
}

.footer_link li a {
	color: #fff;

	margin-right: 15px;
}

#section-footer {
	background: #f7f7f7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-feature {
	display: inline-block;
	text-decoration: none !important;
	padding: 2.66667px 16px;
	margin: 15px 0px 0px 0px;
	font-size: 1em;
	line-height: 1.6em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid;
	border-color: #bcc1c8 #bababa #adb2bb;
	max-width: 100%;
	color: #333;
	background-color: #d8dde6;
	outline: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
	background-size: 100%;
	background-image: -webkit-gradient(
		linear,
		50% 0%,
		50% 100%,
		color-stop(0%, #f7f8fa),
		color-stop(100%, #e7e9ec)
	);
	background-image: -moz-linear-gradient(#f7f8fa 0%, #e7e9ec 100%);
	background-image: -webkit-linear-gradient(#f7f8fa 0%, #e7e9ec 100%);
	background-image: linear-gradient(#f7f8fa 0%, #e7e9ec 100%);
}

.venue-info1 h2 {
	color: #000;
	text-transform: uppercase;
}
#section-contact1 {
	background: none;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.normal-li li {
	background-image: url(../img/bull.png);
	background-position: top 3px left;
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
	color: #000;
}

.accordion {
	margin-bottom: 30px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4,
.accordion h5,
.accordion h6 {
	cursor: pointer;
	color: #3f3f3f;
}

.accordion .accordion-group:first-child .accordion-heading {
	background-color: #f7f7f7;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.accordion a.a-link-section-expander {
	display: block;
	position: relative;
	color: #111;
	outline: 0;
	padding: 10px 40px 10px 20px;
	cursor: pointer;
	user-select: none;
}

.accordion .accordion-heading a {
	border-bottom: 1px solid #ddd;
}

.accordion a,
.accordion a:visited,
.accordion a:active,
.accordion a:link {
	text-decoration: none !important;
	color: #000;
}

.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4,
.accordion h5,
.accordion h6 {
	cursor: pointer;
	color: #3f3f3f;
}

.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #f7f7f9;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.collapse.show {
	display: block;
}

.collapse {
	display: none;
}

.card-header:first-child {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	font-size: 1em;
	line-height: 1.6em;
	color: #333;
}

.agenda {
	font-size: 16px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.agenda table,
th,
td {
	border: 1px solid #ccc;
	padding: 5px;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-toggle {
	background-color: #fff;
	background-image: none;
}

.speaker-box1 {
	width: 150px;
	height: 150px;
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	cursor: pointer;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.speaker-box1 img {
	max-width: 100%;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.speaker-box1:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.speaker-box1:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.speaker-box1 {
	margin-bottom: 80px;
}
