body {
  background: $page_bg_color;
  font-family: $font-primary;
  color: #555;
  font-size: 16px;
  *:hover,
  *:focus {
    outline: none;
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
  &.open {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  small {
    font-size: 70%;
  }
}
.container {
  max-width: 1200px;
  width: 1200px;
  padding: 0;
  margin: auto;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include button_style;
  &.button-sm {
    line-height: 25px;
    font-size: 12px;
  }
}
.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    width: 0;
    font-size: 0;
    min-width: 0;
    padding: 0;
    z-index: 9;
    @include flex;
    @include justify-content(center);
    &:before {
      content: "";
      font-size: 25px;
      font-family: fontAwesome;
    }
    &.slick-prev {
      left: -30px;
      &:before {
        content: "\f104";
      }
    }
    &.slick-next {
      right: -30px;
      &:before {
        content: "\f105";
      }
    }
    &.slick-disabled {
      opacity: 0.2;
    }
  }
  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include flex;
    @include justify-content(center);
    li {
      margin: 5px;
      button {
        height: 15px;
        width: 15px;
        font-size: 0;
        min-width: 0;
        padding: 0;
        background: #eee;
        border-radius: 10px;
        border: solid 1px $button_color;
      }
      &.slick-active {
        button {
          background: $button_color;
        }
      }
    }
  }
}
.flex-it {
  @include flex;

  &.full {
    width: 100%;
  }

  &.wrap {
    @include flex-wrap;
  }

  &.vcenter {
    @include align-items(center);
  }

  &.hcenter {
    @include justify-content(center);
  }

  &.hsplit {
    @include justify-content(space-between);
  }

  &.col {
    @include flex-direction(column);
  }

  &.col-i {
    @include flex-direction(column-reverse);
  }

  &.row-i {
    @include flex-direction(row-reverse);
  }

  &.wrap-it {
    @include flex-wrap;
  }

  .f1 {
    flex-basis: 0;
    @include flex-grow(1);
  }

  .fhf {
    flex-basis: 0;
    @include flex-grow(0.5);
  }

  .f2 {
    flex-basis: 0;
    @include flex-grow(2);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.scroll-it {
  @include custom_scroll;
}
ion-icon {
  transform: translateY(25%);
}

.heading-ttl,
.med-heading-ttl,
.main-heading-ttl {
  margin: 0 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: $black_bg;
  font-weight: 900;
  line-height: 1.5;
  &.deco {
    position: relative;
    > span {
      display: inline-block;
      position: relative;
      z-index: 2;
      background: #fff;
      padding: 5px 15px 5px 0;
    }
    &::before {
      content: "";
      height: 4px;
      background: $light_bg;
      left: 0;
      right: 0;
      bottom: 0;
      top: 2px;
      margin: auto;
      position: absolute;
    }
    &.centered {
      text-align: center;
      max-width: 50%;
      margin: auto;
      @include respondToBelow(sm) {
        max-width: 90%;
      }
      span {
        padding: 5px 15px;
      }
      &::before {
        height: 4px;
      }
    }
    &.solid {
      span {
        color: $dark_base_color;
      }
      &::before {
        background: $dark_base_color;
        height: 4px;
      }
    }
    &.bg_grey {
      span {
        background: $page_bg_color;
      }
    }
  }
}
.med-heading-ttl {
  font-size: 25px;
  @include respondToBelow(sm) {
    font-size: 25px;
    padding: 0 15px;
  }
}
.main-heading-ttl {
  margin: 0 0 25px;
  font-size: 35px;
  @include respondToBelow(sm) {
    font-size: 20px;
    padding: 0 15px;
  }
  &.deco {
    &::before {
      height: 6px;
    }
    @include respondToBelow(sm) {
      span {
        padding: 0 15px;
      }
    }
  }
}
ul {
  li {
    line-height: 1.5;
    margin-bottom: 7px;
  }
}
ul.circle {
  margin-left: 15px;
  li {
    list-style-type: circle;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  &.in {
    pointer-events: all;
  }
  iframe {
    height: 50vh;
    width: 100%;
  }

  .modal-header {
    .heading-ttl {
      margin: 0;
    }
  }
  button.close {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 1;
    background: $dark_base_color;
  }
  &.fillo {
    .modal-header {
      background: $dark_base_color;
      color: #fff;
      h4 {
        p {
          font-size: 25px;
          color: #fff;
        }
      }
      button {
        background: #fff;
        color: $dark_base_color;
      }
    }
    .modal-dialog {
      @include respondToAbove(md) {
        width: 70%;
      }
    }
    .modal-body {
      @include respondToAbove(md) {
        padding: 50px;
      }
      .small-head {
        margin: 15px 0 7px;
        font-size: 16px;
        color: $dark_base_color;
      }
      p,
      li {
        font-size: 14px;
        line-height: 1.5;
      }
      .wid {
        @include respondToAbove(md) {
          max-width: 70%;
          margin: auto;
        }
        .block {
          margin-bottom: 30px;
          border: solid 1px #ddd;
          padding: 15px;
          background: #f7f7f7;
          ul {
            list-style-type: circle;
            margin-left: 15px;
            margin-top: 15px;
          }
        }
      }
    }
  }
  &#myModal {
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &.in {
      pointer-events: auto;
    }
    .modal-dialog {
      margin: 0;
    }

    .modal-content {
      border-radius: 0;
      height: 100%;
      width: 100%;
    }
    .modal-header {
      padding: 0;
      overflow: visible;
      height: 0;
      position: relative;
      z-index: 99;
    }
    .modal-body {
      padding: 0;
    }
    button.close {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9999;
      margin: 0;
    }
  }
  &#workshop_1 {
    .modal-footer {
      .row {
        @include respondToAbove(md) {
          display: flex;
          align-items: center;
        }

        @include respondToBelow(sm) {
          > div {
            text-align: center;
          }
        }
        .col-md-3 > div {
          text-align: left;
          @include respondToBelow(sm) {
            text-align: center;
            margin: 15px 0;
          }
        }
      }
    }
  }
}

.st-sticky-share-buttons {
  @include respondToBelow(sm) {
    display: none !important;
  }
}

.table {
  .thead {
    .tr {
      border: solid 2px $dark_base_color;
    }
  }
  .thead,
  .tbody {
    .tr {
      margin-bottom: 15px;
      display: flex;
      .td,
      .th {
        display: flex;
        flex-direction: column;
        > div {
          border-left: solid 1px rgba(0, 0, 0, 0.15);
          flex-grow: 1;
          padding: 15px;
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        text-align: left;
        flex: 0 0 21.25%;
        &.idx {
          flex: 0 0 15%;
          font-size: 14px;
          > div {
            border: 0;
            color: $dark_base_color;
            font-weight: 600;
          }
          &:not(.th) {
            > div {
              flex-direction: row;
              align-items: center;
              padding-right: 0;
              position: relative;
            }
          }
        }
        &[colspan="4"] {
          flex: 1 0 0;
          text-align: center;
          font-size: 18px;
          > div {
            padding: 5px;
          }
        }
        p {
          @include respondToBelow(sm) {
            margin-top: 7px;
          }
          & + p {
            font-size: 12px;
            color: #999;
            @include respondToAbove(md) {
              margin-top: 7px;
            }
            &:before {
              content: "--- ";
            }
          }
        }
      }
      .th {
        text-align: center;
        > div {
          color: $dark_base_color !important;
          background: $black_bg !important;
        }
      }
      &.gap {
        .td {
          > div {
            background: $dark_base_color !important;
            color: $black_bg;
          }
        }
      }
      &.last {
        @include respondToAbove(md) {
          display: block;
          .td:first-child > div {
            padding: 30px 0 5px;
          }
          .td:last-child > div {
            padding: 5px 0 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
  @include respondToAbove(md) {
    &.fixit {
      padding-top: 70px;
      .thead {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        max-width: 1200px;
        margin: auto;
        z-index: 2;
        .tr {
          border-width: 0 2px;
        }
      }
    }

    &.absit {
      padding-top: 0;
      .thead {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 1200px;
        margin: auto;
        z-index: 2;
      }
    }
  }
  @include respondToBelow(sm) {
    .thead {
      display: none;
    }
    .tbody {
      padding: 15px;
      > .tr {
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
        .td {
          flex-grow: unset !important;
          flex-basis: unset !important;
          background: #fff;
          > div {
            background: transparent;
            border: 0;
            &:before {
              content: "";
              color: $dark_base_color;
            }
          }
          &:nth-child(2) > div {
            &:before {
              content: "Room 1";
            }
          }
          &:nth-child(3) > div {
            &:before {
              content: "Room 2";
            }
          }
          &:nth-child(4) > div {
            &:before {
              content: "Room 3";
            }
          }
          &:nth-child(5) > div {
            &:before {
              content: "Room 4";
            }
          }
          &[colspan="4"] {
            > div {
              padding: 5px 0 0;
              position: relative;
              &:before {
                content: none;
              }
              p {
                margin-bottom: 20px;
                margin-top: -10px;
              }
            }
          }
        }
      }
    }
  }
}

@include respondToBelow(sm) {
  .floating_toast {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 70px;
    padding: 20px;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    a {
      pointer-events: auto;
      padding: 5px 10px;
      color: #fff;
      border-radius: 10px;
      background: $dark_base_color;
      font-size: 12px;
    }
  }
}
